<section class="section">
  <div class="container">

    {{partial "partials/breadcrumb" }}

    <div id="notification-list">

      {{partial "partials/notification-header-main" }}

      <table class="table table-striped table-hover">
        <tbody>
          {{#each controller}}
            {{render 'notifications/item' this}}
          {{else}}
          <tr>
            <td colspan="3">
              <div class="jumbotron text-center">
                {{t 'Todas as notificações foram lidas'}}
                <i class="fa fa-bell-slash"></i>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div><!-- /#notifications-list -->

    <div id="sidebar-notifications">
      <aside role="complementary">
        {{partial 'notifications/sidebar'}}
      </aside>
    </div>

  </div><!-- end container -->
</section><!-- end -->
