<section class="jumbotron">
  <div class="container">

    <div class="pull-right col-xs-18 row" style="position: relative; top: -1.5em;">
      <h3>{{t 'Notificações'}} <br><small>{{t 'Visualize suas notificações'}}</small></h3>

      <button {{action 'markAllAsRead'}} class="btn btn-sm btn-primary" style="float: right; margin: -4em 1.3em 2em 0;">Marcar todas como lido</button>

      <div id="notifications-list" class="row">
        <div class="col-xs-24">

          <table class="table table-striped table-hover" style="background: #fff">
            <tbody>
              {{#each controller}}
                {{render 'notifications/item' this}}
              {{else}}
              <tr>
                <td colspan="3">
                  <div class="jumbotron text-center">
                    {{t 'Nenhuma notificação nova'}}
                  </div>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>

        </div>
      </div><!-- /#notifications-list -->
    </div>

    <div id="draggable-widgets" class="pull-left col-xs-6">
      <!-- widgets -->
      <!--<% include ../widget/groups-widget.ejs %>-->
      <!--<% include ../widget/courses-widget.ejs %>-->
      <!--<% include ../widget/feed-widget.ejs %>-->
      <!-- /widgets -->
    </div>

  </div><!-- end container -->
</section><!-- end -->
