<section class="section">
  <div class="container">
    <div class="row">

      <!-- breadcrumb -->
      {{partial "partials/breadcrumb" }}
      <!-- breadcrumb -->

      <!-- notification-list -->
      <div id="notification-list">

        <!-- header-main -->
        {{partial "partials/notification-header-main" }}
        <!-- /header-main -->

        <table class="table table-striped table-hover">
          <tbody>
            {{#each controller}}
              {{render 'notifications/item' this}}
            {{else}}
            <tr>
              <td colspan="3">
                <div class="jumbotron text-center">
                  {{t 'Nenhuma notificação nova'}}
                  <i class="fa fa-bell-slash"></i>
                </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <!-- /notification-list -->

      <!-- sidebar-notifications -->
      <div id="sidebar-notifications">
        <aside role="complementary">
          {{partial 'notifications/sidebar'}}
        </aside>
      </div>
      <!-- /sidebar-notifications -->

    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /section -->
