
    {{partial "partials/breadcrumb" }}

    <div id="people-list">

      {{partial "partials/people-header-main" }}

      {{#each controller}}
        {{render 'user/teaser' this}}
      {{/each}}
    </div>

    <div id="draggable-widgets">
      <!-- widgets -->
      {{partial 'partials/feed-sidebar-widget'}}

      {{partial 'partials/group-sidebar-widget'}}

      {{partial 'partials/course-sidebar-widget'}}
      <!-- /widgets -->
    </div>
