
    <!-- breadcrumb -->
    {{partial "partials/breadcrumb" }}
    <!-- /breadcrumb -->

    <!-- sidebar-widgets -->
    <div id="draggable-widgets">
      {{partial 'partials/feed-sidebar-widget'}}     <!-- feed -->
      {{partial 'partials/group-sidebar-widget'}}    <!-- group -->
      {{partial 'partials/course-sidebar-widget'}}   <!-- course -->
    </div>
    <!-- /sidebar-widgets -->

    <!-- user-list -->
    <div id="people-list">
      <!-- header-main -->
      {{partial "partials/people-header-main" }}
      <!-- /header-main -->

      <!-- user-item-widget -->
      {{#each controller}}
        {{render 'user/teaser' this}}
      {{/each}}
      <!-- /user-item-widget -->
    </div>
    <!-- /user-list -->
