<!-- Template email -->

<h1>Obrigado por participar da <%= site.name %>!</h1>

<p>
  Oi <%= user.name %>,<br>
  <a text="Confirm link" href="<%= confirmUrl %>">Clique aqui</a> oi copie e cole o link abaixo no seu navegador para confirmar seu endereço de e-mail e faça o login na <%= site.name %>

  <%= confirmUrl %>
</p>

Obrigado,
<%= site.name %>
