<section class="section-story">
<header class="story-header" style="background: url('/theme/assets/img/topo-relatos-lista.jpg') center;">
  <div class="story-header--overlay">
    <div class="container">

      <!-- header -->
      <div class="story-banner--header">
        <!-- header-brand -->
        {{partial 'partials/story-header-brand'}}
        <!-- /header-brand -->

        <div class="pull-right">{{we-relato-add-modal-button}}</div>
      </div>
      <!-- /header -->

      <!-- search -->
      <div class="story-header--search">
        <form {{action "searchAndGoToList" on="submit"}}>
          {{!-- busca --}}
          {{input name="relatoSearchString" classNames="form-control search-input-full"  value=searchString placeholder="Buscar por relatos"}}
          <button {{action 'searchAndGoToList'}} class="search-btn btn btn-default"><i class="icon-search cdp cdp-search"></i></button>
        {{!-- /busca --}}
        </form>
      </div>
      <!-- /search -->

      <!-- filter -->
      {{!-- <div class="story-header--filter">
        <div class="story-header--filter-item">
          <div class="story-header--filter-item-wrapper bg-primary">
            <i class="filter-item-icon icons-outline icons-outline-love"></i>
            <div class="filter-item-icon-text">
              Melhores avaliações
            </div>
          </div>
        </div>
        <div class="story-header--filter-item">
          <div class="story-header--filter-item-wrapper bg-white">
            <i class="filter-item-icon icons-outline icons-outline-circle-less"></i>
            <div class="filter-item-icon-text">
              Relatos incompletos
            </div>
          </div>
        </div>
        <div class="story-header--filter-item">
          <div class="story-header--filter-item-wrapper bg-primary">
            <i class="filter-item-icon icons-outline icons-outline-thermometer"></i>
            <div class="filter-item-icon-text">
              Desafios de saúde
            </div>
          </div>
        </div>
      </div>
      <!-- /filter -->
      --}}

      <!-- footer -->
      <footer class="story-banner--footer">
        <div class="story-header--featured-tags">
          <div class="story-header--featured-tags--wrapper">
            <h4 class="featured-tags--brand">
            <div class="featured-tags--brand-icon">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x fa-4x pull-left icon-circle-tags"></i>
                <i class="cdp cdp-pin cdp-stack-1x cdp-inverse"></i>
              </span>
            </div>
            <div class="featured-tags--brand-title">
              <strong>Assuntos do Momento</strong>
            </div>
            </h4>
            <ul class="featured-tags--list">
            {{#each categoriasLinks}}
              {{#if _view.contentIndex}}
                <li class="featured-tags--list-item">
                  {{#link-to 'relatos' (query-params categorias=id)}}
                    {{text}}
                  {{/link-to}}
                </li>
              {{else}}
                {{!-- primeira categoria sendo exibida --}}
                <li class="featured-tags--list-item">
                  {{#link-to 'relatos' (query-params categorias=id)}}
                    {{text}}
                  {{/link-to}}
                </li>
              {{/if}}
            {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- /footer -->
  </div>
</header>

<div class="container">
  <div class="row">

    <div class="story-main-list--wrapper">
      <aside class="story-main-list">
        <div class="row">
          <header class="story-main-list--header">
            <a id="anchor-relatos-list"></a>

            <form {{action "searchAndGoToList" on="submit"}}>
              {{view "select" classNames="form-control"
                name="filterRelatoBy"
                content=orderOptions
                optionValuePath="content.id"
                optionLabelPath="content.label"
                value=order}}

              {{view "select" classNames="form-control"
                name="filterRelatoByCategorias"
                content=categoriasOptions
                optionValuePath="content.id"
                optionLabelPath="content.text"
                value=controller.selectedCategorias}}

              <button {{action 'resetAndGoToList'}} class="btn-more btn btn-primary">Mostrar todos</button>
            </form>
          </header>
          <div class="col-md-12 story-count"><strong>Total:</strong> {{count}} relatos</div>
          {{render 'relatos/lista' relatos}}
        </div>
      </aside>
    </div>

    {{#if relatos}}
    <div class="section-story--pagination">
      {{we-pagination currentPage=currentPage totalPages=totalPages maxPagesToDisplay=maxPagesToDisplay }}
    </div>
    {{else}}

    <div class="text-center">
      <p>
        <strong>Sem resultados para a busca.</strong>
      </p>
    </div>
    {{/if}}
  </div>
</div>
</section>
