<div class="row profile-timeline">
  <div class="col-md-6">
    <div class="timeline-section timeline-section-about">
      <h3 class="title">Sobre</h2>
      <div class="content">
        <p>{{user.biography}}</p>
        {{#unless ownProfile}}
          <div class="compatibilidade-perfil">
            <div class="aprender">
              <h3>Aprender:</h3>
              <div class="badge-list">
                {{#each interest in user.interests}}
                  <a data-toggle="tooltip" data-placement="top" title="{{interest.text}}">
                    <span class="badge">{{substr interest.text max=22}}</span>
                  </a>
                {{/each}}
              </div>
            </div>

            <div class="cp-center">
              <div {{bind-attr class=":c100 compatibilityClass"}}>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
            <div class="porcentagem">{{compatibility}}%</div>
            <small>Compatibilidade de perfil</small>
            <img src="/theme/assets/img/susana-perfil.png" class="susana">
            </div>

            <div class="ensinar">
              <h3>Ensinar:</h3>
              <div class="badge-list">
                {{#each interest in user.interestsAjd}}
                  <span class="badge">{{interest.text}}</span>
                {{/each}}
              </div>
            </div>
          </div>
        {{/unless}}
      </div>
    </div>
    <div class="timeline-section timeline-section-relatos timeline-collapse blue">
      <h3 class="title"><i class="IR sprt-chevron-up"></i> Relatos</h2>
      <div class="content">
        <ul class="relatos-list">
		      {{#each relato in relatosProxy}}
		      	<li><i class="IR sprt-relato-1"></i>{{#link-to 'relato' relato.id}}{{relato.titulo}}{{/link-to}}</li>
		      {{/each}}
        </ul>
      </div>
      {{#link-to 'user.relatos' class="btn btn-link link-more"}}Ver todos{{/link-to}}
    </div>
    <div class="timeline-section timeline-section-comunidades blue timeline-collapse">
      <h3 class="title"><i class="IR sprt-chevron-up"></i> Comunidades</h2>
      <div class="content">
      {{#if comunidadesProxy}}
        <ul class="carousel-multiple" id="carousel-comunidades">

          {{#each comunidade in comunidadesProxy}}
            <li {{bind-attr class=":item comunidade.active:active"}}>

                <a {{bind-attr href=comunidade.link}}>
                  <div {{bind-attr style=comunidade.bgdImg}} class="carousel-img"></div>
                  {{comunidade.title}}
                </a>

            </li>
          {{/each}}

        </ul>
      {{else}}
        <div class="empty-section">
          {{user.displayName}} não está participando de nenhuma comunidade.
        </div>
      {{/if}}
      </div>
      {{#link-to 'user.comunidades' class="btn btn-link link-more"}}Ver todos{{/link-to}}
    </div>
{{!--     <div class="timeline-section timeline-section-friends yellow timeline-collapse">
      <h3 class="title"><i class="IR sprt-chevron-up"></i> Amigos</h2>
      <div class="content">
        ...
      </div>
      <a href="#" class="btn btn-link link-more">Ver todos</a>
    </div> --}}
    <div class="timeline-section timeline-section-cursos green timeline-collapse">
      <h3 class="title"><i class="IR sprt-chevron-up"></i> Cursos</h2>
      <div class="content">
        {{#if cursos}}
          <ul class="carousel-multiple" id="carousel-cursos">

            {{#each curso in cursos}}
              <li {{bind-attr class=":item curso.active:active"}}>

                <a {{bind-attr href=curso.link}}><img {{bind-attr src=curso.logo}} class="img-responsive img-circle carousel-img">{{curso.title}}</a></li>

            {{/each}}

          </ul>
        {{else}}
        <div class="empty-section">
          {{user.displayName}} não participou de nenhum curso.
        </div>
        {{/if}}
      </div>
      {{#link-to 'user.cursos' class="btn btn-link link-more"}}Ver todos{{/link-to}}
    </div>
  </div>
  <div class="col-md-6">
    <div class="activities-list">
      <h2 class="activities-title"><i class="IR sprt-activities"></i> Atividades</h2>
      {{#if user.drupalId}}
        {{we-iframe-activites drupalId=user.drupalId}}
      {{/if}}
    </div>
  </div>
</div>
