<a id="anchor-user-relatos-list"></a>
<div class="box relatos-list">  
  <div class="list-filter row">
    <div class="col-sm-7">
      <div class="btn-group filter" role="group">
        <a class="btn btn-default" {{action 'filterAutor'}} {{bind-attr class="autorCustomClass:active"}}>Autor <span class="badge">{{totalRelatosAutor}}</span></a>
        <a class="btn btn-default" {{action 'filterAtor'}} {{bind-attr class="atorCustomClass:active"}}>Ator <span class="badge">{{counts.relatos.ator}}</span></a>
        {{!-- <a class="btn btn-default">Relacionados  <span class="badge">100</span></a> --}}
      </div>
    </div>
    <div class="col-sm-5 list-show-more">
      <a class="btn btn-primary" {{action 'clearFilter'}}>Mostrar Todos</a>
    </div>
  </div>
  <div class="list-content">
  {{#each relato in filteredArray}}
    {{#if relato.first}}
      <div class="row">
    {{/if}}
      <div class="col-md-4">
        <div class="relato">
          {{#link-to 'relato' relato.id}}
          <div class="relato-image">
            <a href="#"><img {{bind-attr src=relato.bgdImg}}></a>
          </div>
          <div class="relato-type">
            <i class="IR sprt-author"></i> {{relato.computedRelation}}
          </div>
          {{/link-to}}
          <h3 class="relato-title">
              {{!-- {{substr relato.titulo max="100"}} --}}
              {{#link-to 'relato' relato.id}}
                {{relato.titulo}}
              {{/link-to}}
          </h3>
          <div class="relato-info">
            <span class="relato-author">
              de
              {{#link-to 'user' relato.creator.id}}
                {{!-- {{substr relato.creator.displayName max="40"}} --}}
                {{relato.creator.displayName}}
              {{/link-to}}...
            </span>
            <span class="relato-categoria"> em
            {{#if relato.categorias.firstObject}}
              {{!-- {{substr categorias.firstObject.text max="45"}} --}}
              {{ relato.categorias.firstObject.text }}
            {{/if}}
            </span>
          </div>
        </div>
      </div>
    {{#if relato.lastOfRow}}
      </div>
      <div class="row">
    {{/if}}
    {{#if relato.last}}
      </div>
    {{/if}}
  {{/each}}
  </div>
</div>
{{we-pagination currentPage=page totalPages=totalComputed maxPagesToDisplay=maxPagesToDisplay}}