<section class="section">
  <div class="container user-profile">

    {{bread-crumbs}}

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2">{{user-avatar user=user.id classNames="user-picture img-circle"}}{{!-- <img src="http://lorempicsum.com/nemo/156/156/1" alt="" class="user-picture img-circle"> --}}</div>
        <div class="col-xs-12 col-sm-8 col-md-6">
          <h2 class="user-fullname">{{user.fullName}}</h2>
          <div class="user-details">
            <ul>
              <li>@{{user.username}}</li>
              <li><i class="IR sprt-profile-local"></i> {{user.city}} | {{user.locationState}}</li>
              <li><i class="IR sprt-profile-profissao"></i> {{user.major}}</li>
              <li><i class="IR sprt-profile-nascimento"></i> {{date user.birthDate format='DD/MM/YYYY'}} ({{format-date user.birthDate bool="true"}})</li>
            </ul>
          </div>
          {{#if user.hasSocialNetworkLinks}}
            <div class="user-sociallinks">
              <ul>
                {{#if user.fbprofile}}
                <li><a {{bind-attr href=user.fbprofile}} target="_blank"><i class="IR sprt-profile-facebook"></i></a></li>
                {{/if}}
                {{#if user.twitprofile}}
                <li><a {{bind-attr href=user.twitprofile}} target="_blank"><i class="IR sprt-profile-twitter"></i></a></li>
                {{/if}}
                {{!-- <li><a {{bind-attr href=user.fbprofile}}><i class="IR sprt-profile-gplus"></i></a></li> --}}
                {{#if user.lkinprofile}}
                <li><a {{bind-attr href=user.lkinprofile}} target="_blank"><i class="IR sprt-profile-linkedin"></i></a></li>
                {{/if}}
                {{#if user.instprofile}}
                <li><a {{bind-attr href=user.instprofile}} target="_blank"><i class="IR sprt-profile-instagram"></i></a></li>
                {{/if}}
                {{#if user.youtbprofile}}
                <li><a {{bind-attr href=user.youtbprofile}} target="_blank"><i class="IR sprt-profile-youtube"></i></a></li>
                {{/if}}
              </ul>
            </div>
          {{/if}}
          {{#unless ownProfile}}
          <div class="user-actions">
            <a href="" class="btn btn-primary btn-xs">Adicionar aos Amigos</a>
            <a href="" class="btn btn-primary btn-xs">Seguir</a>
            <a href="" class="btn btn-primary btn-xs">Enviar Mensagem</a>
          </div>
          {{/unless}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div id="carousel-conquistas"  class="carousel-conquistas carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <div class="trofeu-ganho">
                        <h2 class="conquistas-title">
                          <img src="/theme/assets/img/trofeu-escudo.png" class="conquista-badge">
                          <span class="small">
                            Último troféu
                          </span>
                          Relato perfeito
                        </h2>
                        <div class="desc-trofeu">
                          Completely e-enable magnetic methods of empowerment after 24/365 services. Holisticly whiteboard 2.0 outsourcing and mission-critical data.
                        </div>
                        <a class="btn btn-block btn-link more">Ver todos</a>
                      </div>
                    </div>
                    <div class="item">
                      <div class="trofeu-ganho">
                        <h2 class="conquistas-title">
                          <img src="/theme/assets/img/trofeu-escudo.png" class="conquista-badge">
                          <span class="small">
                            Último troféu
                          </span>
                          Relato perfeito
                        </h2>
                        <div class="desc-trofeu">
                          Completely e-enable magnetic methods of empowerment after 24/365 services. Holisticly whiteboard 2.0 outsourcing and mission-critical data.
                        </div>
                        <a class="btn btn-block btn-link more">Ver todos</a>
                      </div>
                    </div>
                    <div class="item">
                      <div class="trofeu-ganho">
                        <h2 class="conquistas-title">
                          <img src="/theme/assets/img/trofeu-escudo.png" class="conquista-badge">
                          <span class="small">
                            Último troféu
                          </span>
                          Relato perfeito
                        </h2>
                        <div class="desc-trofeu">
                          Completely e-enable magnetic methods of empowerment after 24/365 services. Holisticly whiteboard 2.0 outsourcing and mission-critical data.
                        </div>
                        <a class="btn btn-block btn-link more">Ver todos</a>
                      </div>
                    </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-conquistas" role="button" data-slide="prev">
                    <i class="IR sprt-chevron-mini-left"></i>
                  </a>
                  <a class="right carousel-control" href="#carousel-conquistas" role="button" data-slide="next">
                    <i class="IR sprt-chevron-mini-right"></i>
                  </a>
                </div>
        </div>
      </div>
      <div class="row profile-menu">
        <div class="col-xs-12">
          <ul class="nav nav-pills">
            {{#link-li}}
              {{#link-to 'user.index'}}
                Perfil
              {{/link-to}}
            {{/link-li}}
            {{#link-li}}
              {{#link-to 'user.relatos'}}
                Relatos<span class="badge">{{totalRelatos}}</span>
              {{/link-to}}
            {{/link-li}}
            {{#link-li}}
              {{#link-to 'user.comunidades'}}
                Comunidades<span class="badge">{{counts.comunidades}}</span>
              {{/link-to}}
            {{/link-li}}
            {{#link-li}}
              {{#link-to 'user.cursos'}}
                Cursos<span class="badge">{{counts.cursos}}</span>
              {{/link-to}}
            {{/link-li}}
          </ul>
        </div>
      </div>
      {{ outlet }}
    </div>
  </div><!-- /container -->
</section><!-- end -->
