<section class="container row">

    {{partial "partials/breadcrumb" }}

    <div class="pull-right col-xs-18 row">
      <h3 class="title-icon">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x pull-left"></i>
          <i class="fa fa-user cdp-lg cdp-stack-1x cdp-inverse"></i>
        </span>
        <span class="title">{{t 'Atividades'}}</span>
        <small class="subtitle">{{t 'Veja suas atividades'}}</small>
      </h3>

      <div id="group-list">
        <div class="user-profile-menu-area text-center">
          <ul class="user-profile-menu nav nav-pills pull-right">
            <li>
            {{#link-to 'user' user.id classNames='btn btn-success'}}
              {{t 'Atividade'}}
            {{/link-to}}
            </li>
            <li>
            {{#link-to 'user.contacts' user.id classNames='btn btn-primary'}}
              {{t 'Contatos'}}
            {{/link-to}}
            </li>
            <li>
            {{#link-to 'user.images' user.id classNames='btn btn-warning'}}
              {{t 'Imagens'}}
            {{/link-to}}
            </li>
          </ul>
        </div>

        <div class="row">
          {{outlet}}
        </div>
      </div>
    </div>

    <div id="draggable-widgets" class="pull-left row col-xs-6">
      <!-- widgets -->
      <aside id="user-view-widget" class="panel panel-default row">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              <div class="icon icon-user pull-left"></div>
              {{t 'Olá'}}, {{we-editable-text name='username' value=user.username isEditing=isEditing}}
            </a>
          </h3>
        </div>
        <div id="collapseFour" class="panel-collapse collapse in list-group">
          <div href="#" class="list-group-item">
            <span class="avatar-large">{{we-avatar userId=user.id size="responsive"}}</span>

            {{#if isEditing}}
              <div class="form-group">
                {{view Ember.Select name="language" value=user.language content=defaultlanguages classNames="form-control input-md"}}
              </div>
            {{else}}
              <div class="language-area text-center">{{user.language}}</div>
            {{/if}}

            {{#can editUser model.user}}
              <div class="user-admin-actions-area">
                <div class="actions">

                  <button {{action 'save'}} type="button" class="btn btn-xs btn-success">
                    <i class="fa fa-saved"></i> {{t 'Save'}}
                  </button>

                  <button {{action 'cancel'}} type="button" class="btn btn-xs btn-warning">
                    <i class="fa fa-unchecked"></i> {{t 'Cancel'}}
                  </button>

                  <button {{action 'edit'}} type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i> {{t 'Edit'}}
                  </button>

                </div>
              </div>
            {{/can}}

            <div class="user-full">
                  <div class="user-area-data row">

                    <div class="user-area-data-rigth col-md-10">

                      <div class="actions">
                        {{#if showSocialActions}}
                          <span class="social">
                            {{view App.ContactButtomView contact=contact}}

                            <button {{action follow}} type="button" class="btn btn-xs btn-success">
                              <i class="fa fa-plus" title="Seguir"></i> {{t 'Seguir'}}
                            </button>
                          </span>
                        {{/if}}
                      </div>

                    </div>
                  </div>

            </div>
          </div>
        </div>
      </aside>

      {{partial 'partials/feed-widget'}}

      {{partial 'partials/group-widget'}}

      {{partial 'partials/course-widget'}}
      <!-- /widgets -->
    </div>

</section><!-- end -->
