<section class="section">
  <div class="container user-profile">

    {{bread-crumbs}}

    <div class="row">
      <div class="col-md-3">

        <div class="avatar-large">{{we-avatar userId=user.id size="responsive"}}</div>

        <div class="user-profile-edit">

          <div class="user-admin-actions-area">
            <div class="actions">
              {{#if user.canEdit}}
                {{#if edit}}
                    <button {{action 'save'}} type="button" class="btn btn-xs btn-primary">
                      <i class="fa fa-saved"></i>Salvar
                    </button>
                    <button {{action 'cancel'}} type="button" class="btn btn-xs btn-default">
                      <i class="fa fa-unchecked"></i>Cancelar
                    </button>
                {{else}}
                  <button {{action 'edit'}} class="btn btn-warning">Editar</button>
                {{/if}}
              {{else}}
                {{#if showSocialActions}}
                  {{view App.ContactButtomView contactStatus=contact.currentUserStatus}}
                  {{we-follow model='user' classNames="btn btn-warning" modelId=user.id flagText="Seguir" }}
                {{/if}}
              {{/if}}
            </div>
          </div>
        </div>

        <aside id="feed-widget" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
            {{#link-to 'user.index' user.id classNames="widget-trigger-collapse"}}
                <span class="fa-stack">
                  <i class="cdp cdp-time cdp-lg cdp-fw cdp-stack-1x pull-left"></i>
                </span>
                <span class="icon-title">O que está rolando?</span>
            {{/link-to}}
            </h3>
          </div>
        </aside>


        {{partial 'partials/group-sidebar-widget'}}

        {{partial 'partials/course-sidebar-widget'}}


        {{we-user-relatos-favoritos userId=user.id relatos=null}}

        <aside id="related-users" class="widget-user-list widget">
          <h3>Membros Relacionados</h3>

          <div class="content user-list">

              <a class="user-list-user" href="#">
                <span class="img-wrapper"><img class="img-circle" heigth="100" width="100" userid="1" src="http://localhost:1430/avatar/1?style=medium"></span>
                <h4 class="nome">marcusvbp</h4>
              </a>
              <a class="user-list-user" href="#">
                <span class="img-wrapper"><img class="img-circle" heigth="100" width="100" userid="1" src="http://localhost:1430/avatar/1?style=medium"></span>
                <h4 class="nome">marcusvbp</h4>
              </a>
              <a class="user-list-user" href="#">
                <span class="img-wrapper"><img class="img-circle" heigth="100" width="100" userid="1" src="http://localhost:1430/avatar/1?style=medium"></span>
                <h4 class="nome">marcusvbp</h4>
              </a>
              <a class="user-list-user" href="#">
                <span class="img-wrapper"><img class="img-circle" heigth="100" width="100" userid="1" src="http://localhost:1430/avatar/1?style=medium"></span>
                <h4 class="nome">marcusvbp</h4>
              </a>

          </div>
        </aside>

      </div>

      <div class="col-md-9">
        <header id="user--header" class="section-header">
          <div class="header-brand">
            <div class="header-brand-icon">
              <span class="fa-stack">
                <i class="fa fa-user cdp-lg cdp-stack-1x cdp-inverse"></i>
              </span>
            </div>
            <div class="header-brand-text">
              <h3 class="header-brand-text--title">
              {{#if edit}}
                Olá, {{focus-input value=user.displayName type="text"}}
              {{else}}
                {{t 'user.sidebar.username' usernameBinding=user.displayName}}
              {{/if}}
              </h3>
              <small class="header-brand-text--small">
                {{t 'user.activity.subtitle'}}
              </small>
            </div>
          </div>

          <div class="header-info">
            <div class="local">
            {{#if edit}}
              <b>Local</b>:
              {{we-state-city-simple-selector tagName="span" country="BR" selectedState=user.locationState selectedCity=user.city}}
            {{else}}
              {{#if user.locationState}}
                <b>Local</b>: {{user.locationState}}, {{user.city}}
              {{/if}}
            {{/if}}
            </div>
            {{!--
              <div class="area"><b>Área</b>: Enfermagem</div>
             --}}
            <div class="about">
              <p>
              {{#if edit}}
                {{we-editor value=user.biography}}
              {{else}}
                {{user.biography}}
              {{/if}}
              </p>
            </div>
          </div>

          <a href="#" class="about-group btn">Sobre <span class="caret"></span></a>

        </header>

        {{outlet}}

      </div>

    </div>


  </div><!-- /container -->
</section><!-- end -->
