
{{#can editUser model.user}}
  <div class="user-admin-actions-area well">
    <div class="actions">
      <span class="actions-title">{{t 'Actions'}}: </span>

      <button {{action 'save'}} type="button" class="btn btn-xs btn-success">
        <span class="glyphicon glyphicon-saved"></span> {{t 'Save'}}
      </button>

      <button {{action 'cancel'}} type="button" class="btn btn-xs btn-default">
        <span class="glyphicon glyphicon-unchecked"></span> {{t 'Cancel'}}
      </button>

      <button {{action 'edit'}} type="button" class="btn btn-xs btn-primary">
        <span class="glyphicon glyphicon-edit"></span> {{t 'Edit'}}
      </button>

    </div>
  </div>
{{/can}}

<div class="col-xs-6">
<div class="user-list-widget thumbnail">
  {{we-avatar userId=user.id size="responsive"}}

  {{#if isEditing}}
    <div class="form-group">
      {{view Ember.Select name="language" value=user.language content=defaultlanguages classNames="form-control input-md"}}
    </div>
  {{else}}
    <div class="language-area text-center">{{user.language}}</div>
  {{/if}}

  <div class="caption">
    <h4 class="user-list-name">
      {{we-editable-text tagName='h1' name='username' value=user.username isEditing=isEditing}}
    </h4>
    <p class="user-list-desc">
      {{we-editable-html name='biography' value=user.biography isEditing=isEditing}}
    </p>
    <nav class="user-list-nav">
      <a href="#" class="btn btn-xs btn-warning" role="button">Mensagem</a>
      <button {{action follow}} class="btn btn-xs btn-success" role="button">{{t 'Seguir'}}</button>
      <a href="#" class="btn btn-xs btn-primary" role="button">Adicionar</a>

      <div class="actions">
        {{#if showSocialActions}}
          <span class="social">
            {{view App.ContactButtomView contact=contact}}
          </span>
        {{/if}}
      </div>

    </nav>
  </div>
</div>

</div>

  <div class="user-profile-menu-area text-center">
    <ul class="user-profile-menu nav nav-pills">
      <li>
      {{#link-to 'user' user.id}}
        {{t 'Activity'}}
      {{/link-to}}
      </li>
      <li>
      {{#link-to 'user.contacts' user.id}}
        {{t 'Contacts'}}
      {{/link-to}}
      </li>
      <li>
      {{#link-to 'user.images' user.id}}
        {{t 'Images'}}
      {{/link-to}}
      </li>
    </ul>
  </div>

  {{outlet}}

</div>
