<!-- Splash Global
    Use for welcome to user -->
{{#if currentUser.id}}
  <section id="splash-global" class="section">
    <div class="container">

      <div class="timeline-wrapper">
        <h3>Conteúdos que sigo<small><br>Acompanhe o que acontece na rede</small></h3>
        <div id="user-list">
          {{render 'post/sharebox' postNew}}
          {{render 'posts/list' posts}}
        </div>
      </div>

    </div><!-- end container -->
  </section><!-- end splash global -->
{{else}}
  <section class="section-home">
    {{partial 'partials/home-about-site'}}

    <div class="container">
      <!-- collapse-blocks -->
      {{!-- {{partial 'partials/home-collapse-blocks'}} --}}
      <!-- /collapse-blocks -->
      <!-- info-blocks -->
      {{partial 'partials/info-blocks'}}
      <!-- /info-blocks -->
    </div>

  </section>
{{/if}}
