<!-- Splash Global
    Use for welcome to user -->
{{#if App.auth.isAuthenticated}}
  <section id="splash-global" class="section">
    <div class="container">

        <div class="timeline-wrapper">
          <h3>{{t 'Timeline'}} <small><br>{{t 'Acompanhe o que acontece na rede'}}</small></h3>
          <div id="user-list">
            {{render 'post/sharebox' postNew}}
            {{render 'posts/list' posts controller='Posts'}}
          </div>
        </div>

    </div><!-- end container -->
  </section><!-- end splash global -->
{{else}}
  <section class="section-home">
    {{partial 'partials/home-about-site'}}

    <div class="collapse-blocks">
      <div class="panel-group" id="accordion-one">
        <div class="block-collapse panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="collapse-trigger" data-toggle="collapse" data-parent="#accordion-one" href="#collapseOne">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x fa-4x pull-left icon-circle-group"></i>
                  <i class="cdp cdp-cdp-logo cdp-lg cdp-stack-1x cdp-inverse"></i>
                </span>
                <h1 class="block-collapse--title">12.500 <small class="block-collapse--title-small">Visualização de Relatos</small></h1>
                <i class="icons-outline icons-outline-skip-previous"></i>
                <i class="icons-outline icons-outline-skip-next"></i>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <h2 class="block-collapse--subtitle">Top Relatos <small class="block-collapse--subtitle-small">Relato escolhido pela curadoria na semana</small></h2>

              <ul class="block-collapse--list">
                <li class="block-collapse--list-item">
                  <img class="block-collapse--list-item-img" src="http://goo.gl/VNOCQg">
                  <div class="block-collapse--list-item-text">
                    <h3 class="block-collapse--list-item-text--title">Dentinho sadio, sorriso lindo.</h3>
                    <p class="block-collapse--list-item-text--description">Trocar experiências e fazer uma rede dinâmica e viva.</p>
                  </div>
                </li>

                <li class="block-collapse--list-item">
                  <img class="block-collapse--list-item-img" src="http://goo.gl/VNOCQg">
                  <div class="block-collapse--list-item-text">
                    <h3 class="block-collapse--list-item-text--title">Dentinho sadio, sorriso lindo.</h3>
                    <p class="block-collapse--list-item-text--description">Trocar experiências e fazer uma rede dinâmica e viva.</p>
                  </div>
                </li>

                <li class="block-collapse--list-item">
                  <img class="block-collapse--list-item-img" src="http://goo.gl/VNOCQg">
                  <div class="block-collapse--list-item-text">
                    <h3 class="block-collapse--list-item-text--title">Dentinho sadio, sorriso lindo.</h3>
                    <p class="block-collapse--list-item-text--description">Trocar experiências e fazer uma rede dinâmica e viva.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group" id="accordion-two">
        <div class="block-collapse panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="collapse-trigger" data-toggle="collapse" data-parent="#accordion-two" href="#collapseTwo">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x fa-4x pull-left icon-circle-group"></i>
                  <i class="cdp cdp-cdp-logo cdp-lg cdp-stack-1x cdp-inverse"></i>
                </span>
                <h1 class="block-collapse--title">3.500 <small class="block-collapse--title-small">Visualizações de Comunidades</small></h1>
                <i class="icons-outline icons-outline-skip-previous"></i>
                <i class="icons-outline icons-outline-skip-next"></i>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
              <h2 class="block-collapse--subtitle">Top Relatos <small class="block-collapse--subtitle-small">Relato escolhido pela curadoria na semana</small></h2>

              <ul class="block-collapse--list">
                <li class="block-collapse--list-item">
                  <img class="block-collapse--list-item-img" src="http://goo.gl/VNOCQg">
                  <div class="block-collapse--list-item-text">
                    <h3 class="block-collapse--list-item-text--title">Dentinho sadio, sorriso lindo.</h3>
                    <p class="block-collapse--list-item-text--description">Trocar experiências e fazer uma rede dinâmica e viva.</p>
                  </div>
                </li>

                <li class="block-collapse--list-item">
                  <img class="block-collapse--list-item-img" src="http://goo.gl/VNOCQg">
                  <div class="block-collapse--list-item-text">
                    <h3 class="block-collapse--list-item-text--title">Dentinho sadio, sorriso lindo.</h3>
                    <p class="block-collapse--list-item-text--description">Trocar experiências e fazer uma rede dinâmica e viva.</p>
                  </div>
                </li>

                <li class="block-collapse--list-item">
                  <img class="block-collapse--list-item-img" src="http://goo.gl/VNOCQg">
                  <div class="block-collapse--list-item-text">
                    <h3 class="block-collapse--list-item-text--title">Dentinho sadio, sorriso lindo.</h3>
                    <p class="block-collapse--list-item-text--description">Trocar experiências e fazer uma rede dinâmica e viva.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group" id="accordion-three">
        <div class="block-collapse block-collapase--people panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="collapse-trigger" data-toggle="collapse" data-parent="#accordion-three" href="#collapseThree">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x fa-4x pull-left icon-circle-group"></i>
                  <i class="cdp cdp-people cdp-lg cdp-stack-1x cdp-inverse"></i>
                </span>
                <h1 class="block-collapse--title">500 <small class="block-collapse--title-small">Acessaram a Comunidade</small></h1>
                <i class="icons-outline icons-outline-skip-previous"></i>
                <i class="icons-outline icons-outline-skip-next"></i>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse in">
            <div class="panel-body">
              <h2 class="block-collapse--subtitle">Top Relatos <small class="block-collapse--subtitle-small">Relato escolhido pela curadoria na semana</small></h2>

              <ul class="block-collapse--list">
                <li class="block-collapse--list-item">
                  <img class="block-collapse--list-item-img" src="http://goo.gl/VNOCQg">
                  <div class="block-collapse--list-item-text">
                    <h3 class="block-collapse--list-item-text--title">Dentinho sadio, sorriso lindo.</h3>
                    <p class="block-collapse--list-item-text--description">Trocar experiências e fazer uma rede dinâmica e viva.</p>
                  </div>
                </li>

                <li class="block-collapse--list-item">
                  <img class="block-collapse--list-item-img" src="http://goo.gl/VNOCQg">
                  <div class="block-collapse--list-item-text">
                    <h3 class="block-collapse--list-item-text--title">Dentinho sadio, sorriso lindo.</h3>
                    <p class="block-collapse--list-item-text--description">Trocar experiências e fazer uma rede dinâmica e viva.</p>
                  </div>
                </li>

                <li class="block-collapse--list-item">
                  <img class="block-collapse--list-item-img" src="http://goo.gl/VNOCQg">
                  <div class="block-collapse--list-item-text">
                    <h3 class="block-collapse--list-item-text--title">Dentinho sadio, sorriso lindo.</h3>
                    <p class="block-collapse--list-item-text--description">Trocar experiências e fazer uma rede dinâmica e viva.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /collapse-blocks -->

    <div class="info-blocks">
      <div class="info-blocks--blog">
        <header class="info-blocks--blog-header">
          <h3 class="info-blocks--blog-title">
            Blog <small class="info-blocks--blog-subtitle">Fique por dentro da novidades da CdP</small>
          </h3>
        </header>
        <div class="info-blocks--blog-content">
          <img class="info-blocks--blog-content-img" src="http://goo.gl/gxbrPl" />
          <h4 class="info-blocks--blog-content-title">Título do post</h4>
          <p class="info-blocks--blog-content-description">
            Trocar experiências e fazer uma rede dinâmica e viva. Comunique-se, participe das mais diversas comunidades.
          </p>
        </div>
        <div class="info-blocks--blog-content">
          <img class="info-blocks--blog-content-img" src="http://goo.gl/gxbrPl" />
          <h4 class="info-blocks--blog-content-title">Título do post</h4>
          <p class="info-blocks--blog-content-description">
            Trocar experiências e fazer uma rede dinâmica e viva. Comunique-se, participe das mais diversas comunidades.
          </p>
        </div>
      </div>

      <div class="info-blocks--help_center">
        <h3 class="info-blocks--help_center-title">
          Central de Ajuda <small class="info-blocks--help_center-subtitle">Quer ajuda? É aqui que você encontra</small>
        </h3>
        <div class="info-blocks--help_center-content">
          <img class="info-blocks--help_center-content-img pull-left" src="http://goo.gl/gxbrPl" />
          <p class="info-blocks--help_center-content-description pull-right">
            Trocar experiências e fazer uma rede dinâmica e viva. Comunique-se, participe das mais diversas comunidades.
          </p>
        </div>
        <div class="info-blocks--help_center-content">
          <img class="info-blocks--help_center-content-img pull-right" src="http://goo.gl/gxbrPl" />
          <p class="info-blocks--help_center-content-description pull-left">
            Trocar experiências e fazer uma rede dinâmica e viva. Comunique-se, participe das mais diversas comunidades.
          </p>
        </div>
        <a class="btn-success-md">Ver resposta</a>
      </div>
    </div>
  </section>
{{/if}}
