<!-- Splash Global
    Use for welcome to user -->
{{#if App.auth.isAuthenticated}}
  <section id="splash-global" class="section">
    <div class="container">

        <div class="timeline-wrapper">
          <h3>{{t 'Timeline'}} <small><br>{{t 'Acompanhe o que acontece na rede'}}</small></h3>
          <div id="user-list">
            {{render 'post/sharebox' postNew}}
            {{render 'posts/list' posts controller='Posts'}}
          </div>
        </div>

    </div><!-- end container -->
  </section><!-- end splash global -->
{{else}}
  <div class="home-logged-out">
    {{partial 'partials/home-about-site'}}
  </div>
{{/if}}
