<section class="section">
  <div class="container">

    {{partial "partials/breadcrumb" }}

    <div id="group-list">

      {{partial "partials/group-header-main" }}

      <div>
      {{#if App.currentUser.id}}
        {{#link-to 'groups.create' classNames="btn btn-sm btn-primary pull-right"}}
          {{t "Create group"}}
        {{/link-to}}
      {{/if}}
      </div>

      {{#each controller}}
        <div>
          {{render 'group/teaser' this}}
        </div>
      {{else}}
        <p>{{t "groups.empty"}}</p>
      {{/each}}
    </div><!-- /group-list -->

    <div id="draggable-widgets">
      <!-- widgets -->
      {{partial 'partials/feed-sidebar-widget'}}

      {{partial 'partials/group-sidebar-widget'}}

      {{partial 'partials/course-sidebar-widget'}}
      <!-- /widgets -->
    </div>

  </div><!-- /container -->
</section><!-- end -->
