<section class="section">
  <div class="container">
    <div class="row">

      <!-- breadcrumb -->
      {{partial "partials/breadcrumb" }}
      <!-- /breadcrumb -->

      <!-- group-list -->
      <div id="group-list">

        <!-- header-main -->
        {{partial "partials/group-header-main" }}
        <!-- /header-main -->

        <div>
        {{#if App.currentUser.id}}
          {{#link-to 'groups.create' classNames="btn btn-sm btn-primary pull-right"}}
            {{t "Create group"}}
          {{/link-to}}
        {{/if}}
        </div>

        {{#each controller}}
          <div>
            {{render 'group/teaser' this}}
          </div>
        {{else}}
          <p>{{t "groups.empty"}}</p>
        {{/each}}
      </div>
      <!-- /group-list -->

      <!-- sidebar-widgets -->
      <div id="draggable-widgets">
        {{partial 'partials/feed-sidebar-widget'}}       <!-- feed -->
        {{partial 'partials/group-sidebar-widget'}}      <!-- group -->
        {{partial 'partials/course-sidebar-widget'}}     <!-- course -->
      </div>
      <!-- /sidebar-widgets -->

    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /section -->
