<section class="section">
  <div class="container">

    <div class="pull-right col-xs-18 row">

      <h3 class="title-icon pull-left">
        <span class="icon icon-cdp-logo icon-circle icon-circle-blue"></span>
        <span class="title">{{t 'Comunidades'}}</span>
        <small class="subtitle">{{t 'Participe das comunidades'}}</small>
      </h3>

      <div id="group-list" class="row" >

        <div class="pull-right">
          <form class="form-inline" role="form">
            <div class="form-group">
              <input type="search" class="search-input form-control" placeholder="Busque nesta seção">
            </div>
            <button type="submit" class="btn btn-success">
              <div class="icon icon-search"></div>
            </button>
          </form>
        </div>
        <br><br>
        <div class="pull-right">
        {{#if App.currentUser.id}}
          {{#link-to 'groups.create' classNames="btn btn-sm btn-primary pull-right"}}
            {{t 'Criar Comunidade'}}
          {{/link-to}}
        {{/if}}
        </div>

        {{#each controller}}
          <div class="col-xs-24">
            {{render 'group/teaser' this}}
          </div>
        {{else}}
          <p>{{t 'Não existe nenhuma comunidade no momento.'}}</p>
        {{/each}}

      </div>

    </div><!-- end container -->

    <div id="draggable-widgets" class="pull-left col-xs-6">
      <!-- widgets -->
      <aside id="feed-widget" class="panel panel-default row">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              <div class="icon icon-time pull-left" style="font-size: 1.5em; position: relative; left: -0.3em;"></div>
              O que está acontecendo?
            </a>
          </h3>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in list-group">
          <a href="#" class="list-group-item active">
            <h5 class="list-group-item-heading">Semana da Saúde</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências.</p>
          </a>
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Semana da Saúde</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências.</p>
          </a>
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Semana da Saúde</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências.</p>
          </a>
        </div>
      </aside>

      <aside id="groups-widget" class="panel panel-default row">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <div class="icon icon-cdp-logo pull-left" style="font-size: 1.5em; position: relative; left: -0.3em;"></div>
              Comunidades
            </a>
          </h3>
        </div>
        <div id="collapseOne" class="panel-collapse collapse list-group">
          <a href="#" class="list-group-item active">
            <h5 class="list-group-item-heading">Comunidade Saúde e Bem-estar</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Comunidade Saúde e Bem-estar</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Comunidade Saúde e Bem-estar</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
        </div>
      </aside>

      <aside id="courses-widget" class="panel panel-default row">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <div class="icon icon-badge pull-left" style="font-size: 1.5em; position: relative; left: -0.3em;"></div>
              Cursos
            </a>
          </h3>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">Cursos de Saúde</h4>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Cursos de Saúde</h4>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Cursos de Saúde</h4>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
        </div>
      </aside>
      <!-- /widgets -->
    </div>

  </div><!-- end container -->
</section><!-- end -->
