<section class="jumbotron">
  <div class="container">

    <div class="pull-right col-xs-18 row" style="position: relative; top: -1.5em;">
      <h3>{{t 'Comunidades'}} <small><br>{{t 'Participe das comunidades'}}</small></h3>

      {{#each controller}}
        {{render 'group/teaser' this}}
      {{else}}
        <p>{{t 'Não existe nenhum grupo no momento.'}}</p>
      {{/each}}

      {{#if App.currentUser.id}}
        {{#link-to 'groups.create' classNames="btn btn-primary"}}
          {{t 'Create group'}}
        {{/link-to}}
        <hr>
      {{/if}}

      <div id="group-list" class="row">

        <div class="col-xs-24">
          <!--<% include ../widget/groups-list-widget.ejs %>-->
        </div>

        <div class="col-xs-24">
          <!--<% include ../widget/groups-list-widget.ejs %>-->
        </div>

        <div class="col-xs-24">
          <!--<% include ../widget/groups-list-widget.ejs %>-->
        </div>

      </div>

    </div><!-- end container -->

    <div id="draggable-widgets" class="pull-left col-xs-6">
      <!-- widgets -->
      <!--<% include ../widget/groups-widget.ejs %>-->
      <!--<% include ../widget/courses-widget.ejs %>-->
      <!--<% include ../widget/feed-widget.ejs %>-->
      <!-- /widgets -->
    </div>

  </div><!-- end container -->
</section><!-- end -->
