<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <%- HelpersService.getRequirejsPreloadConfig() %>
    <%- HelpersService.getRequireJsScriptTag() %>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta name="csrf-token" content="<%= _csrf %>" />

    <%- HelpersService.getlinkCssTags() %>

    <!-- bower_components -->
    <link rel="stylesheet" href="/theme/assets/bower_components/tupi/css/icon/tupi-icon.awesome.css">
    <link rel="stylesheet" href="/theme/assets/bower_components/tupi/css/icon/tupi-icon.line.css">
    <link rel="stylesheet" href="/theme/assets/bower_components/tupi/css/icon/tupi-icon.cdp.css">
    <!-- #end bower_components -->

    <link rel="icon" href="../favicon.ico">
  </head>
  <body>

    <!-- javascript at the bottom for fast load page -->

  </body>
</html>
