<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <%- HelpersService.getRequirejsPreloadConfig() %>
    <%- HelpersService.getRequireJsScriptTag() %>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta name="csrf-token" content="<%= _csrf %>" />

    <%- HelpersService.getlinkCssTags() %>
    <link rel="stylesheet" href="/bower_components/tupi/css/build.css">

    <link rel="icon" href="../favicon.ico">
  </head>
  <body>

    <!-- javascript at the bottom for fast load page -->

  </body>
</html>
