<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <%- HelpersService.getRequirejsPreloadConfig() %>
    <%- HelpersService.getRequireJsScriptTag() %>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta name="csrf-token" content="<%= _csrf %>" />

    <%- HelpersService.getlinkCssTags() %>
    <link rel="stylesheet" href="/bower_components/tupi/css/icon/tupi-icon.outline.css">
    <link rel="stylesheet" href="/bower_components/tupi/css/build.css">
    <style type="text/css">
      @font-face {
        font-family: 'icons-cdp';
        src: url('../bower_components/tupi/icon/cdp/icons-cdp.eot?v=4.2.0');
        src: url('../bower_components/tupi/icon/cdp/icons-cdp.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../bower_components/tupi/icon/cdp/icons-cdp.woff?v=4.2.0') format('woff'), url('../bower_components/tupi/icon/cdp/icons-cdp.ttf?v=4.2.0') format('truetype'), url('../bower_components/tupi/icon/cdp/icons-cdp.svg?v=4.2.0#fontawesomeregular') format('svg');
        font-weight: normal;
        font-style: normal; }

      @font-face {
        font-familoutline'icons-outline';
        src: url('../bower_components/tupi/icon/outline/icons-outline.eot?v=4.2.0');
        src: url('../bower_components/tupi/icon/outline/icons-outline.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../bower_components/tupi/icon/outline/icons-outline.woff?v=4.2.0') format('woff'), url('../bower_components/tupi/icon/outline/icons-outline.ttf?v=4.2.0') format('truetype'), url('../bower_components/tupi/icon/outline/icons-outline.svg?v=4.2.0#fontawesomeregular') format('svg');
        font-weight: normal;
        font-style: normal; }

      @font-face {
        font-familoutline'icons-outline';
        src: url('../bower_components/tupi/icon/awesome/icons-awesome.eot?v=4.2.0');
        src: url('../bower_components/tupi/icon/awesome/icons-awesome.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../bower_components/tupi/icon/awesome/icons-awesome.woff?v=4.2.0') format('woff'), url('../bower_components/tupi/icon/awesome/icons-awesome.ttf?v=4.2.0') format('truetype'), url('../bower_components/tupi/icon/awesome/icons-awesome.svg?v=4.2.0#fontawesomeregular') format('svg');
        font-weight: normal;
        font-style: normal; }
    </style>
    <link rel="icon" href="../favicon.ico">
  </head>
  <body>

    <!-- javascript at the bottom for fast load page -->

  </body>
</html>
