
<form id="form-login" class="form-horizontal col-xs-20" role="form" name="loginForm" method="post" {{action "login" on="submit"}}>
  {{we-sys-messages messages=messages}}

  <div class="form-group">
    <div class="input-group col-xs-24">
      {{input name="email" value=controller.email  type="email" placeholder=controller.emailPlaceholder classNames="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <div class="input-group col-xs-24">
      {{input value=controller.password type="password" placeholder=controller.passwordPlaceholder classNames="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <div class="checkbox col-xs-16 row">
      <label>
        <input type="checkbox"> Lembrar-me
      </label>
      <a {{action goToForgotPaswordPage}} class="link" href="/auth/forgot-password">
        {{t "Recuperar senha"}}
      </a>
    </div>
    <div class="col-xs-12 pull-right row">
      <button id="loginButton" class="col-xs-24 btn btn-sm btn-primary" type="submit">
        {{t "Entrar"}}
        <i class="fa fa-arrow-circle-right fa-lg fa-fw fa-inverse"></i>
      </button>
    </div>

    <div class="container-button-signin col-xs-24">
      <div class="row">
        <li class="divider"></li>
        <a {{action goToRegisterPage}} href="/auth/register" data-toggle="dropdown" class="col-xs-24 btn btn-sm btn-success">
          {{t "Criar nova conta"}}
        </a>
      </div>
    </div>
  </div>
</form>
