Oi <%= email %>,

<p>Você foi convidado para ser adicionado como <strong><%= modalidade %></strong> no relato <%= relato.titulo %>. Entretanto, para aceitar o convite, você primeiro deverá se cadastrar na nossa comunidade através do link abaixo:</p>

<a href="<%= registerUrl %>" ><%= registerUrl %></a> 

<p>Após o cadastro você receberá um email com maiores instruções.</p>

<br>

<%= site.name %>
<a href="<%= site.url %>" ><%= site.url %></a> 