<h1>Post <%- data.id %></h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>body</th>
      <th>createdAt</th>
      <th>updatedAt</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%- data.id %></td>
      <td><%- data.body %></td>
      <td><%- data.createdAt %></td>
      <td><%- data.updatedAt %></td>
    </tr>
  </tbody>
</table>
