<h1><%= data.titulo %></h1>

<div><%- data.descricao %></div>

<% if(data.imagemDestaque) { %>
  <% data.imagemDestaque = data.imagemDestaque.toJSON() %>
  <img alt="<%- data.titulo %>" src="<%= data.imagemDestaque.urls.large %>">
<% } %>

<div>
<h4>Categorias</h4>
<% if (data.categorias) { %>
  <% data.categorias.forEach(function (item) { %>
    <%= item.text %> <br>
  <% }); %>
<% } %>
</div>

<div>
<h4>Respostas</h4>
<% if (data.respostas) { %>
  <% data.respostas.forEach(function (item) { %>
    <%- item.body %> <br>
  <% }); %>
<% } %>
</div>

<div>
<a href="/relato">Lista de relatos</a>
</div>