<footer id="footer-main">
  <div class="container">

    <!-- first-line-block -->
    <div class="first-line-block">

      <!-- blog-section -->
      <div class="blog-section">
        <h4 class="title-footer">blog<h4>
        <div class="date">{{t 'Postado há 02 dias'}}</div>
        <div class="small-footer">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore.</p>
        </div>
        <button class="btn btn-link">{{t 'Leia completo'}}</button>
      </div>
      <!-- /blog-section -->

      <!-- facebook-section -->
      <div class="facebook-section">
        <h4 class="title-footer">facebook</h4>
        {{ partial 'partials/facebook-like-button'}}
      </div>
      <!-- /facebook-section -->

      <!-- links-section ::expose links for some sections -->
      <div class="links-section">
        <h4 class="links-section--title title-footer">links</h4>
        <ul class="links-section--list">
          <!-- help-center-item -->
          <li class="links-section--list-item help-center">
            <h5 class="links-section--subtitle">
              <i class="links-section--icon cdp cdp-question pull-left"></i>
              <span>Central de Ajuda</span>
            </h5>
            <p class="small-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </li>

          <li class="links-section--list-item careers">
            <h5 class="links-section--subtitle">
              <i class="links-section--icon cdp cdp-people pull-left"></i>
              <span>Trabalhe Conosco</span>
            </h5>
            <p class="small-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </li>

          <li class="links-section--list-item cdp">
            <h5 class="links-section--subtitle">
              <i class="links-section--icon cdp cdp-cdp-logo pull-left"></i>
              <span>IV Mostra</span>
            </h5>
            <p class="small-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </li>

          <li class="links-section--list-item contact">
            <h5 class="links-section--subtitle">
              <i class="links-section--icon  cdp cdp-chat pull-left"></i>
              <span>Fale Conosco</span>
            </h5>
            <p class="small-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </li>
        </ul>
      </div>
      <!-- /links-section -->

    </div> <!-- /first-line-block -->

    <div class="second-line-block">

      <!-- about-section -->
      <div class="about-section">
        <div class="title-footer">
          {{ partial 'partials/logo-cdp-footer'}}
        </div>
        <div class="description-footer">
          <h4 class="about-section--title">Comunidade de Práticas</h4>
          <p class="small-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor dolor.</p>
          <button class="btn btn-xs btn-primary pull-left">Leia mais</button>
        </div>
      </div>
      <!-- /about-section -->

      <!-- sponsor-section -->
      <div class="sponsor-section">
        <h4 class="sponsor-title">Realização</h4>
        <ul class="sponsor-list pull-left">
          <li class="sponsor-list--item">
            <a href="#"target="_blank">
              <img class="sponsor-list--item-img" src="/theme/assets/img/sponsor-partner.jpg">
            </a>
          </li>
          <li class="sponsor-list--item">
            <a href="#"target="_blank">
              <img class="sponsor-list--item-img" src="/theme/assets/img/sponsor-partner.jpg">
            </a>
          </li>
        </ul>
      </div>
      <!-- /sponsor-section -->

      <!-- partner-section -->
      <div class="partner-section">
        <h4 class="partner-title">Parceiros</h4>
        <ul class="partner-list">
          <li class="sponsor-list--item">
            <a href="#"target="_blank">
              <img class="sponsor-list--item-img" src="/theme/assets/img/sponsor-partner.jpg">
            </a>
          </li>
          <li class="sponsor-list--item">
            <a href="#"target="_blank">
              <img class="sponsor-list--item-img" src="/theme/assets/img/sponsor-partner.jpg">
            </a>
          </li>
          <li class="sponsor-list--item">
            <a href="#"target="_blank">
              <img class="sponsor-list--item-img" src="/theme/assets/img/sponsor-partner.jpg">
            </a>
          </li>
        </ul>
      </div>
      <!-- /partner-section -->

    </div> <!-- /rsecond-line-block -->

    <div class="copyright">
      <p class="text-muted">Comunidade de Práticas - <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC</a> 2014</p>
    </div>

  </div>
</footer>
{{we-avatar-modal store=store}}
