<nav id="navbar-main" class="navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <!-- Toggle button
          for mobile devices -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- /Toggle button -->

      <!-- Logo -->
      {{#link-to 'home' classNames="app-main-logo navbar-brand"}}
        <img src="/theme/assets/img/cdp-logo.png" alt="Comunidade de Práticas"/>
      {{/link-to}}

      <!-- /Logo -->
    </div>

    <!-- Menu main -->
    <ul class="nav navbar-nav">
      <li style="text-align: center">
        {{#link-to 'users' classNames="navbar-menu-item"}}
          <div class="icon icon-people" style="font-size: 2em; margin: -0.2em 0 -0.75em 0;"></div>
          {{t 'Pessoas'}}
        {{/link-to}}
      </li>
      <li>
        <a class="navbar-menu-item" href="#" style="color: #eee; text-align: center;">
          <div class="icon icon-message" style="font-size: 2em; margin: -0.2em 0 -0.75em 0;"></div>
          Mensagem
        </a>
      </li>
      <li style="text-align: center">
        {{#link-to 'groups' classNames="navbar-menu-item"}}
          <div class="icon icon-cdp-logo" style="font-size: 2em; margin: -0.2em 0 -0.75em 0;"></div>
          {{t 'Comunidades'}}
        {{/link-to}}
      </li>
      <li>
        <a class="navbar-menu-item" href="#" style="color: #eee; text-align: center;">
          <div class="icon icon-badge" style="font-size: 2em; margin: -0.2em 0 -0.75em 0;"></div>
          Cursos
        </a>
      </li>
      <li style="text-align: center">
        {{#link-to 'notifications' classNames="navbar-menu-item"}}
          <div class="icon icon-bell" style="font-size: 2em; margin: -0.2em 0 -0.75em 0;"></div>
          {{t 'Notificações'}}
        {{/link-to}}
      </li>
      <li class="search" style="position: relative; top: 1.2em; left: 2em;">
        <form class="form-inline" role="form">
          <div class="form-group">
            <input type="search" class="form-control" placeholder="Buscar">
          </div>
          <button type="submit" class="btn btn-success">Ok</button>
        </form>

      </li>
    </ul>
    <!-- /Menu main -->

    <!-- Menu User #menu-user-dropdown
         only on login -->
    <ul class="nav navbar-nav pull-right">
      {{#if isAuthenticated}}
        {{we-connection-status}}

        {{else}}
        <li style="font-size: 0.9em; text-align: left;">
          <p style="margin: 15px 0 -15px -10px;">Não tem uma conta?</p>
          <a data-toggle="modal" data-target="#myModal" style="cursor: pointer; font-weight: bold; margin: 0 0 0 -20px;">Crie aqui.</a>
        </li>

        <li id="menu-user-dropdown" class="dropdown">
          <button class="btn btn-primary navbar-login-buttom navbar-btn dropdown-toggle" data-toggle="dropdown">
            {{t Entrar}}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" style="margin-top: 1.5em">
            <!-- FORM LOGIN -->
            {{we-auth-modal-login}}
            <!-- /FORM LOGIN -->
          </ul>
        </li>
      {{/if}}

      {{render 'user/usermenu' App.currentUser controller='UserMenu'}}
    </ul>
    <!-- /Menu User -->

    <div class="bar-colored"></div>
  </div><!-- end container -->
</nav><!-- end navigation #navbarmain -->

<div class="container" style="position: relative; top: 1.2em;">
  <div class="col-xs-21 row pull-right">
  <!-- BREADCRUMB -->
  <ol class="breadcrumb">
    <div class="icon icon-question pull-left" style="font-size: 1.2em; color: #999; position: relative; left: -0.35em"></div>
    <li><a href="#">Início</a></li>
    <li><a href="#">Seção Intermediária</a></li>
    <li class="active">Seção Atual</li>
  </ol>
  <!-- /BREADCRUMB -->
  </div>
</div>
