<header id="header-main" class="navbar-default" role="navigation">
  <div class="container">
    <div class="row">

      <div class="header-main-brand" alt="Comunidade de Práticas">
        <!-- Logo -->
        {{#link-to 'home' classNames="app-main-logo"}}
          {{partial 'partials/logo-cdp'}}
        {{/link-to}}
        <!-- /Logo -->
      </div>

      <!-- Menu main -->
      <nav id="menu-main" class="nav navbar-nav navbar-collapse collapse">
        <li class="navbar-menu-item item-group" data-target=".navbar-collapse">
          {{#link-to 'groups' classNames=""}}
            <i class="cdp cdp-cdp-logo cdp-2x"></i>
            <div class="text-menu">{{t 'mainmenu.link.groups'}}</div>
          {{/link-to}}
        </li>
        <li class="navbar-menu-item item-reports" data-toggle="collapse">
          {{#link-to 'users' classNames=""}}
            <i class="cdp cdp-people cdp-2x"></i>
            <div class="text-menu">Relatos</div>
          {{/link-to}}
        </li>
        <li>
          <ul class="services-menu-dropdown navbar-menu-item item-services">
              <li id="menu-services-dropdown" class="dropdown">
                <li class="dropdown-toggle" data-toggle="dropdown">
                  <a href="#">
                    <i class="cdp cdp-services cdp-2x"></i>
                    <div class="text-menu">Serviços</div>
                  </a>
                </li>
                <ul id="dropdown-menu-services" class="dropdown-menu dropdown-menu-right arrow_box-menu-services" role="menu">
                  <div class="item">
                    item
                  </div>
                  <div class="item">
                    item
                  </div>
                  <div class="item">
                    item
                  </div>
                  <div class="item">
                    item
                  </div>
                </ul>
              </li>
          </ul>
          <!-- /Menu User -->
        </li>
      <!-- /Menu main -->

      <!-- search -->
      <li class="navbar-menu-item"><div id="search-main" class="search">
        <form class="form-inline" role="form">
          <div class="input-group">
            <input type="search" class="search-input form-control" placeholder="Faça sua busca">
            <span class="input-group-btn">
              <button class="search-btn btn btn-default" type="button">
                <i class="icon-search cdp cdp-search"></i>
              </button>
            </span>
          </div>
        </form>
      </div>
      </li>

      <li class="navbar-menu-item item-feed">
        <a href="#" alt="{{t 'mainmenu.link.messages'}}">
          <i class="cdp cdp-message cdp-2x cdp-align-justify"><span class="badge">42</span></i>
        </a>
      </li>
      <li class="navbar-menu-item item-notifications" alt="{{t 'mainmenu.link.notifications'}}">
        {{#link-to 'notifications' classNames=""}}
          <i class="cdp cdp-bell cdp-2x cdp-align-justify"><span class="badge">42</span></i>
        {{/link-to}}
      </li>

    </nav>
      <!-- /search -->

      <!-- Toggle button
          for mobile devices -->
      <button class="toggle-button navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- /Toggle button -->

      <!-- Menu User #menu-user-dropdown
           only on login -->
      <ul class="login-menu-dropdown">
        {{#unless isAuthenticated}}
          <li id="menu-user-dropdown" class="dropdown">
            <button class="btn btn-link navbar-login-button navbar-btn dropdown-toggle" data-toggle="dropdown">
              {{t 'login.block.button.text'}} <i class="fa fa-caret-down"></i>
            </button>
            <ul id="dropdown-login-menu" class="dropdown-menu dropdown-menu-right arrow_box" role="menu">
              <!-- FORM LOGIN -->
              {{we-auth-modal-login}}
              <!-- /FORM LOGIN -->
            </ul>
          </li>
        {{/unless}}
        {{render 'user/usermenu' App.currentUser controller='UserMenu'}}
      </ul>
      <!-- /Menu User -->

      <div class="bar-colored"></div>

    </div><!-- /row -->
  </div><!-- end container -->
</header><!-- end navigation #navbarmain -->
