{{#if isActive}}

<div class="messenger-area-wrapper">
  <div class="messenger-column contacts">
    <div class="messenger-area">
      {{#if isListOpen}}
        <div class="messenger">
          <div class="header">
            Bate-papo
            <div class="actions">
              <button {{action 'closeList'}} type="button" class="remove btn btn-xs">
                <i class="IR sprt-chat-minimize"></i>
              </button>
              <button {{action 'turnOff'}} type="button" class="remove btn btn-xs">
                <i class="IR sprt-chat-close"></i>
              </button>
            </div>
          </div>

          <ul class="nav nav-list friendlist contact-list">
            {{#each filteredContacts}}
              {{render 'messenger/contact' this}}
            {{/each}}
          </ul>
          <ul class="nav nav-list rooms-list contact-list">
            <li class="global-room messenger-room">
              <a {{action 'openPublicBox'}} >
                Sala Pública
              </a>
            </li>
          </ul>

{{!--           <div class="search-area">
            {{input type="text" value=srcCriteria placeholder="Procure ..."}}
          </div> --}}
        </div>
      {{else}}
        <div class="messenger-off">
          <span class="ui-icon ui-icon-person"></span>
          <span class="text">Messenger</span>
          <div class="actions">
              <button {{action 'openList'}} type="button" class="remove btn btn-xs">
                <i class="IR sprt-chat-minimize"></i>
              </button>
            </div>
        </div>
      {{/if}}
    </div>
  </div>

  {{#each openContacts}}
    {{render 'messenger/box' this}}
  {{/each}}

  {{we-messenger-public-box store=store}}
</div>

{{else}}

<div class="messenger-area-wrapper">
  <div class="messenger-column">
    <div class="messenger-area">
      <div class="messenger-off">
        <div class="text-center">
          <button {{action 'turnOn'}} type="button" class="btn btn-default btn-xs">
            Ligar o messenger
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

{{/if}}