<div class="public-room-container">
<div class="messenger-column">
  <div class="messenger-chat-area">
    <div class="contact-chat">
      <div class="header">
        <i class="IR sprt-chat"></i> <span class="contact-name">Público</span>
      </div>

      <div class="actions">
        <button {{action 'toggleList'}} type="button" class="remove btn btn-xs">
          <i class="IR sprt-chat-minimize"></i>
        </button>
        <button {{action 'closeList'}} type="button" class="remove btn btn-xs">
          <i class="IR sprt-chat-close"></i>
        </button>
      </div>

      {{#if isLoading}}
        <div class="messenger-loading"><img src="/core/images/loading.gif">Carregando ... </div>
      {{/if}}

      {{#if isListOpen}}
        {{render 'messenger/messages-public-room' messages controller="MessengerMessages"}}

        <div class="realtime-status"></div>

        <div class="footer">
          <form {{action "sendMessage" on="submit"}} >
            <i class="IR sprt-chat-lines"></i>
            <div class="input-group">

              {{input name="messageNew" value=messageNew type="text" placeholder=messagePlaceholder classNames="input-xs"}}

              <span class="input-group-btn">
                <button  {{action "sendMessage"}} class="btn btn-xs btn-send" type="submit"><i class="IR sprt-chat-send"></i></button>
              </span>
            </div>
          </form>
        </div>

      {{/if}}
    </div>
  </div>
</div>
</div>