<section class="section">
  <div class="container">
    {{bread-crumbs}}
<div class="row">
<div class="col-md-3">
  <div id="group-picture">
    {{#link-to 'group' group.id}}
      {{#if group.logo}}
        <img width="100%" {{bind-attr src="group.logo.urls.large"}} />
      {{else}}
        <img width="100%" src="/core/images/logos/group2.jpg">
      {{/if}}
    {{/link-to}}
  </div>

  <div id="group-icons">
    <ul>
      <li class="group-icon-like"><i class="cdp cdp-love"></i></li>
      <li class="group-icon-access"><i class="icons-outline icons-outline-padlock-closed"></i></li>
      <li class="group-icon-follow"><i class="icons-outline icons-outline-eye"></i></li>
    </ul>
  </div>
  {{#if group.canAdmin}}
    <aside id="administer-widget" class="widget panel panel-gray">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse-administer-widget">
            <span class="fa-stack">
              <i class="cdp cdp-settings cdp-lg cdp-fw cdp-stack-1x pull-left"></i>
            </span>
            <span class="icon-title">Administrar</span>
          </a>
        </h3>
      </div>
      <div id="collapse-administer-widget" class="panel-collapse list-group in" style="height: auto;">
        {{#link-to 'group.addMember' group.id classNames="list-group-item" }}
          Convidar Pessoa
        {{/link-to}}
      </div>
    </aside>
  {{/if}}

  <aside id="group-members" class="group-members-list widget">
    <h3>Quem Faz Parte?</h3>
    <p>Membros da Comunidade</p>
    <div class="content members-list">
      {{#each members}}
        {{#link-to 'user' id classNames="facilitador"}}
          <span class="img-wrapper">{{we-avatar userId=id size="thumbnail" classNames="img-circle"}}</span>
        {{/link-to}}
      {{/each}}
    </div>
    <div class="widget-more">
      <a href="#" class="pull-right btn">Ver Todos</a>
    </div>
  </aside>

  <aside id="group-facilitadores" class="widget-user-list widget">
    <h3>Facilitadores</h3>

    <div class="content user-list">
      {{#each members}}
        {{#link-to 'user' id classNames="user-list-user"}}
          <span class="img-wrapper">{{we-avatar userId=id size="medium" classNames="img-circle"}}</span>
          <h4 class="nome">{{displayName}}</h4>
        {{/link-to}}
      {{/each}}
    </div>
  </aside>
</div>
<div class="col-md-9">
  {{outlet}}
</div>

</div>

  </div>
</section>