<section class="section">
  <div class="container">

    <div class="pull-right col-xs-17">
      <h3 class="title-icon">
        <span class="icon icon-cdp-logo icon-circle icon-circle-blue"></span>
        <span class="title">{{t 'Recuperar Senha'}}</span>
        <small class="subtitle">{{t 'Recupere sua senha'}}</small>
      </h3>

      <div id="group-list" class="row">
        <form {{action requestPasswordChange on="submit"}} action="/auth/forgot-password" method="post" class="form">
          <h4>{{t 'Coloque seu e-mail abaixo para receber a mudança de senha'}}</h4>
          <br>

          {{we-sys-messages messages=messages}}

          {{#if requestSend}}
            <h3>Verifique seu email ou sua caixa de spam</h3>
          {{else}}

            <div class="input-group text-center">
            {{input name="email" value=email  type="email" placeholder=emailPlaceholder classNames="form-control input-lg" required="true"}}
              <span class="input-group-btn">
                <button {{action requestPasswordChange}} class="btn btn-lg btn-primary" type="button">{{t 'Send email'}}</button>
              </span>
            </div>

          {{/if}}

        </form>

      </div>
    </div>

  </div><!-- end container -->
</section><!-- end -->
