{{#if isVisible}}
<section id="register-section" class="section">
  <div class="container">

    <div id="signin-form">

      {{partial "partials/signin-header-main" }}

      <div id="signin-list">
        <form id="form-signin" class="form-horizontal user-signup-form" role="form" {{action "submit" on="submit"}} name="createAccountForm" method="POST">
          {{we-sys-messages messages=messages}}

          {{input name="username" value=user.username  type="text" placeholder=usernamePlaceholder required="true" classNames="form-signin--input-name form-control input-lg"}}

          <div>
            {{input name="email" value=user.email  type="email" placeholder=emailPlaceholder classNames="form-signin--input-email form-control input-lg" required="true"}}
            <div class="message">
              <div class="message.type">{{message.message}}</div>
            </div>
          </div>

          {{input name="password" value=user.password  type="password" placeholder=passwordPlaceholder required="true" classNames="form-signin--input-password form-control input-lg"}}

          {{input name="confirmPassword" value=user.confirmPassword  type="password" placeholder=confirmPasswordPlaceholder required="true" classNames="form-signin--input-password-confirm form-control input-lg"}}

          <div class="form-signin--radio-gender">
            <label class="radio-male">
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="male">
              Masculino
            </label>
            <label class="radio-female">
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="female">
              Feminino
            </label>
          </div>

          {{we-sys-messages messages=messages}}

          <div class="form-signin--select-birthdate">
            <select class="form-control month">
              <option>Mês</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>

            <select class="form-control day">
              <option>Dia</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>

            <select class="form-control year">
              <option>Ano</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <button type="submit" class="btn btn-lg btn-success">{{t "Cadastrar"}}</button>

          <div class="form-signin--agree-terms">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="male" checked>
                  Li e aceito as regras de convivência da Comunidade de Práticas.*
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="female" checked>
                  Li e aceito os termos de uso*
                </label>
              </div>

            </div>
          </div>

        </form>
        {{/if}}

      </div>
    </div>

  </div>
</section>
