{{#if isVisible}}
<section class="section">
  <div class="container">

    <div id="draggable-widgets" class="pull-left col-xs-6">
      <!-- widgets -->
      <aside id="help-widget" class="panel panel-default row">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              Olá, seja bem vindo(a)!
            </a>
          </h2>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in list-group">
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Precisa de Ajuda? Vá a nossa Central de Ajuda</h5>
          </a>
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Saiba mais sobre nossos cursos!</h5>
          </a>
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Como criar minha primeira Comunidade?</h5>
          </a>
        </div>
      </aside>

      <aside id="help-widget" class="panel panel-default row">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              O que vc pretende se cadastrando na CdP?
            </a>
          </h2>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in list-group">
          <a href="#" class="list-group-item">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Obter conhecimento através de cursos
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Compartilhar Relatos de Experiência
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Interagir com as comunidades
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Outro (citar)
              </label>
            </div>
          </a>
        </div>
      </aside>
      <!-- /widgets -->
    </div>

    <div class="pull-right col-xs-17">
      <h3 class="title-icon">
        <span class="icon icon-cdp-logo icon-circle icon-circle-blue"></span>
        <span class="title">{{t "Cadastre-se"}}</span>
        <small class="subtitle">{{t 'Faça parte da nossa rede'}}</small>
      </h3>

      <div id="group-list" class="row">
        <form id="form-signin" class="form-horizontal user-signup-form" role="form" {{action "submit" on="submit"}} name="createAccountForm" method="POST">
          {{we-sys-messages messages=messages}}

          <div class="pull-left col-xs-12">
          <!-- input: username -->
          <div class="form-group col-xs-24 pull-left">
            {{input name="username" value=user.username  type="text" placeholder=usernamePlaceholder required="true" classNames="form-control input-lg"}}
          </div>
          <!-- /input: username -->

          <!-- input: email -->
          <div class="form-group col-xs-24 pull-left">
            {{input name="email" value=user.email  type="email" placeholder=emailPlaceholder classNames="form-control input-lg" required="true"}}
            <div class="message">
              <div class="message.type">{{message.message}}</div>
            </div>
          </div>
          <!-- /input: email -->
          </div>

          <div class="pull-right col-xs-12">
            <!-- input: password -->
            <div class="form-group col-xs-24">
                {{input name="password" value=user.password  type="password" placeholder=passwordPlaceholder required="true" classNames="form-control input-lg"}}
            </div>
            <div class="form-group col-xs-24">
              <!-- input: confirm-password -->
              {{input name="confirmPassword" value=user.confirmPassword  type="password" placeholder=confirmPasswordPlaceholder required="true" classNames="form-control input-lg"}}
              <!-- /input: confirm-password -->
            </div>
            <!-- /input: password -->
          </div>

          <div class="form-group col-xs-6 pull-left">
            <div class="input-group">
              <label for="language" class="input-group-addon">
                {{t 'Idioma'}}
              </label>
              {{view Ember.Select name="language" value=user.language content=defaultlanguages classNames="form-control input-md"}}
            </div>
          </div>

          {{we-sys-messages messages=messages}}

          <div class="form-group">
            <div class="col-xs-5 row">
              <select class="form-control">
                <option>Mês</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col-xs-5 row">
              <select class="form-control">
                <option>Dia</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col-xs-5 row">
              <select class="form-control">
                <option>Ano</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="radio col-xs-8 row">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="male">
                Masculino
              </label>
            </div>
            <div class="radio col-xs-12">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="female">
                Feminino
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-16 row">
              <button type="submit" class="col-xs-12 btn btn-lg btn-success">{{t "Cadastrar"}}</button>
            </div>
          </div>

        </form>

        <div class="modal-footer">
          <div class="form-group row">
            <div class="agree-terms radio col-xs-24 row">
              <label>
                <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="male" checked>
                Li e aceito as regras de convivência da Comunidade de Práticas.*
              </label>
            </div>
            <div class="radio col-xs-24 row">
              <label>
                <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="female" checked>
                Li e aceito os termos de uso*
              </label>
            </div>

          </div>
        </div>
        {{/if}}

      </div>
    </div>

  </div><!-- end container -->
</section><!-- end -->
