<div class="content-block post">
<div class="post-teaser teaser panel panel-default">

  <div class="header panel-heading">
    <span class="creator">
      {{#link-to 'user' creator.id}}
        <span class="creator-avatar avatar-small">{{we-avatar userId=creator.id}}</span>
        <span class="creator-name">
          {{creator.username}}
        </span>
      {{/link-to}}
    </span>
    <a {{action 'showSharedWith'}} href="#" class="shared-with text-mute">
      <i class="fa fa-user"></i>
    </a>
    <span class="createdAt post-created-at">{{format-date createdAt}}</span>
  </div>

  <div class="panel-body">

    {{#if isEditing}}
      {{view App.postEditFormView}}
    {{else}}
      <div class="content">
        <div class="post-text">{{{body}}}</div>
        <div class="videos">
          {{#each videos}}
            {{we-video url=this}}
          {{/each}}
        </div>
        <div class="images">
          {{#each images}}
            <img {{bind-attr src=this.urls.large}}>
          {{/each}}
        </div>
      </div>
      <div class="footer">
          <div class="actions">
            <button type="button" class="btn btn-xs btn-warning">
              <i class="fa fa-envelope" title="Mensagem"></i>
            </button>

            <button type="button" class="btn btn-xs btn-danger">
              <i class="fa fa-heart" title="Amar"></i>
            </button>

            <button type="button" class="btn btn-xs btn-primary">
              <i class="fa fa-share" title="Compartilhar"></i> {{t 'Compartilhar'}}
            </button>

            {{#can editPost model}}
              <button type="button" class="btn btn-xs btn-warning" {{action 'edit'}}>
                <i class="fa fa-edit-marked"></i> {{t 'Editar'}}
              </button>
            {{/can}}

            {{#can deletePost model}}
              <button class="btn btn-xs btn-danger" {{action 'deleteItem'}}>
                <i class="fa fa-close"></i> {{t 'Deletar'}}
              </button>
            {{/can}}
          </div>
      </div>
    {{/if}}
  </div>
  <div class="panel-footer">
    {{#if hasMoreComments}}
      <div class="comments-header">
        <span>Total de {{commentCount}} comentarios.</span>

        <a {{action 'loadAllComments'}} href="#mostrar-comment" class="btn btn-default btn-xs">Mostrar todos</a>
      </div>
      <hr>
    {{/if}}
    <div class="comments">

      {{#each comments}}
        {{render 'comment/item' this}}
      {{/each}}
    </div>
    {{we-comment-form creatorId=App.currentUser.id post=model store=store}}

  </div>
</div>
</div>
