<div class="content-block post">
<div class="post-teaser teaser panel panel-default">

  <div class="header panel-heading">
    <span class="creator">
      {{#link-to 'user' creator.id}}
        <div class="post-creator">
          <span class="creator-avatar avatar-small">{{we-avatar userId=creator.id}}</span>
          <span class="creator-name">
            {{creator.username}}
          </span>
        </div>
      {{/link-to}}
    </span>
    <div class="post-user-info">
      <a {{action 'showSharedWith'}} href="#" class="shared-with text-mute">
        <i class="fa fa-user"></i>
      </a>
      <span class="createdAt post-created-at">{{format-date createdAt}}</span>
    </div>
  </div>

  <div class="panel-body">

    {{#if isEditing}}
      {{view App.postEditFormView}}
    {{else}}
      <div class="content">
        <div class="post-text">{{html body}}</div>
        <div class="videos">
          {{#each videos}}
            {{we-video url=this}}
          {{/each}}
        </div>
        <div class="images">
          {{#each images}}
            <img {{bind-attr src=this.urls.large}}>
          {{/each}}
        </div>
      </div>
      <div class="footer">
          <div class="actions">

            {{we-follow model='post' modelId=id flagText="Seguir" unFlagText="Seguindo"}}

            {{we-flag flagType='like' model='post' modelId=id
              flagText='<i class="fa fa-heart" title="Amar"></i>'
              flagClass= 'btn btn-xs btn-danger active'
              unFlagClass= 'btn btn-xs btn-danger' }}

            {{#can editPost model}}
              <button type="button" class="btn btn-xs btn-warning" {{action 'edit'}}>
                <i class="fa fa-edit-marked"></i>Editar
              </button>
            {{/can}}

            {{#can deletePost model}}
              <button class="btn btn-xs btn-default" {{action 'deleteItem'}}>
                <i class="fa fa-close text-danger"></i> Deletar
              </button>
            {{/can}}
          </div>
      </div>
    {{/if}}
  </div>
  <div class="panel-footer">
    {{#if hasMoreComments}}
      <div class="comments-header">
        <span>Total de {{commentCount}} comentarios.</span>

        <a {{action 'loadAllComments'}} href="#mostrar-comment" class="btn btn-default btn-xs">Mostrar todos</a>
      </div>
      <hr>
    {{/if}}

    {{#if id}}
      {{we-comments commentedModelName="post" commentedModelId=id}}
      {{we-comment-form commentedModelName="post" commentedModelId=id}}
    {{/if}}
  </div>
</div>
</div>
