<div class="content-block post">
<div class="post-teaser teaser panel panel-default">
  <div class="header panel-heading">
<<<<<<< HEAD
    <span class="creator">
      {{#link-to 'user' creator.id}}
        <div class="post-creator">
          <span class="creator-avatar avatar-small">{{user-avatar width="35px" heigth="35px" user=creator size="thumbnail"}}</span>
          <span class="creator-name">
            {{creator.displayName}}
          </span>
        </div>
      {{/link-to}}
    </span>

    <div class="post-user-info">
      <a {{action 'showSharedWith'}} href="#" class="shared-with text-mute">
        <i class="fa fa-user"></i>
      </a>
      <span class="createdAt post-created-at">{{format-date createdAt}}</span>
      {{#if sharedIn}}
        <span>na comunidade
          {{#link-to 'group' sharedIn.id}}
            {{sharedIn.name}}
          {{/link-to}}
        </span>
      {{/if}}
    </div>
=======
    {{partial 'partials/post-header-partial'}}
>>>>>>> 021ec02d33531c9f65a461fcfee15d5eb8aeae66
  </div>

  <div class="panel-body">
    {{#if isEditing}}
      {{partial 'partials/post-edit-form-partial'}}
    {{else}}
      <div class="content">
        <div class="post-text">{{html body}}</div>

        {{#if wembed.url}}
          {{we-wembed url=wembed.url imageIndex=wembed.imageIndex }}
        {{/if}}

        {{partial 'partials/post-images-display-partial'}}
      </div>

      {{partial 'partials/post-footer-actions-partial'}}

    {{/if}}
  </div>
  <div class="panel-footer">
    {{#if hasMoreComments}}
      <div class="comments-header">
        <span>Total de {{commentCount}} comentarios.</span>
        <a {{action 'loadAllComments'}} href="#mostrar-comment" class="btn btn-default btn-xs">Mostrar todos</a>
      </div>
      <hr>
    {{/if}}

    {{#if id}}
      {{we-comments commentedModelName="post" commentedModelId=id}}
      {{we-comment-form commentedModelName="post" commentedModelId=id}}
    {{/if}}
  </div>
</div>
</div>
