<section class="jumbotron">
  <div class="container">

    <div class="pull-right">
      <h3>{{t 'Criar Comunidade'}} <small><br>{{t 'Crie aqui uma comunidade'}}</small></h3>

      <div id="group-list">

        <div>
          <form role="form" {{action "submit" on="submit"}}>
            <div class="form-group">
              <div class="input-group row">
                <div>
                  {{input id="name" name="name" value=group.name type="text" placeholder="Enter group name" required="true" classNames="form-control"}}
                </div>
                <div>
                  {{view Ember.Select name="Privacity" value=group.privacity optionValuePath="content.value" optionLabelPath="content.label" content=privacityList classNames="form-control"}}
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">{{t 'Criar'}}</button>
          </form>
        </div>

      </div>

    </div><!-- end container -->

  </div>
</section>
